 .product-detail-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px;
 }
 span{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.back-button button{
  border: none;
  background-color: rgb(72, 165, 241);
}
 .detail-card { 
  justify-content: center;
  width: 400px;
}
.details{
  background-color: rgb(181, 244, 247);
}

.detail-card h2 {
  margin-bottom: 10px;
}

.detail-card p {
  margin-bottom: 15px;
}

